<!DOCTYPE html>
<html lang="zh">
<head>
	<title>欢迎来到恒哥的网站</title>
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<!--//fonts-->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="../../assets/css/iconfont.css">
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Kong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
	<!-- start-smooth-scrolling -->
<!-- 引入首页js文件 -->
<script src="js/index.js"></script>
</head>
<body>
<!-- banner -->
<div class="banner" id="home">
	<div class="container"> 
		<div class="top-header row">
			<script src="js/classie.js"></script>
			<!--top-nav---->
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""/></a>
			</div>
			<div class="top-nav">
				<div class="nav-icon">
					    <a href="#" class="right_bt" id="activator"><span> </span> </a>
				</div>
				<div class="box" id="box">
					<div class="box_content">        					                         
						<div class="box_content_center">
							<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a class="scroll" href="#home"><span>首页</span></a></li>
										<li><a class="scroll" href="#about"><span>关于</span></a></li>
										<li><a class="scroll" href="#services"><span>服务</span></a></li>
										<li><a class="scroll" href="#portfolio"><span>分享</span></a></li>
										<li><a class="scroll" href="#testimonial"><span>团队</span></a></li>
										<li><a class="scroll" href="#blog"><span>博客</span></a></li>
										<li><a class="scroll" href="#contact"><span>联系我</span></a></li>
										<div class="clearfix"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
			</div>
			
			<div class="clearfix"> </div>
		</div>
		<div class="banner-info">
			<div class="banner-left">
				<img src="https://weixin.aisoutu.com/cunchu7/2021-04-13/4_1618280764795.png" alt=""/>
			</div>
			<div class="banner-right">
				<h1>I’M 恒 仔</h1>
				<div class="border"></div>
				<h2>全栈开发工程师</h2>
				<a href="http://dishitiangege.gitee.io/hz-goshopping" target="_blank">LOOK here ！</a>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

<!--about-->
<div class="about text-center" id="about">
	<div class="container">
		<h3>ABOUT ME</h3>
		<div class="strip text-center"><img src="images/about.png" alt=" "/></div>
		<p>	精通 HTML、CSS、JS 基础，熟悉 H5、CSS3 新属性，熟悉 ES6 新特性</p>
		<p>熟悉响应式，flex 等页面布局方式，熟练使用less、sass</p>
		<p>熟练运用 Vue、React 前端开发框架，了解 ReactNative 的基本实现原理</p>
		<p>熟悉组件间的通信和数据的管理 , 熟练 Redux/Vuex 使用</p>
		<p>熟悉常见 UI 框架如：Bootstrap、Element-UI、Vant、Ant-design 等</p>
		<p>熟悉 Webpack 等构建工具</p>
		<p>熟悉微信小程序开发流程</p>
		<p>熟练使用 Git 等项目管理工具</p>
		<p>了解 NodeJS，了解 Express 框架开发</p>
		<p>开发过的项目：
			<p>PC端：小兔鲜购物平台、HR-sass后台管理系统、ToDoList、图书管理系统</p>
			<p>移动端：好客租房、黑马头条、uniapp项目</p>
			<p>小程序：恒仔优品、恒创营</p>
		</p>
		<ul>
			<li><a class="fb" href="#"></a></li>
			<li><a class="twit" href="#"></a></li>
			<li><a class="in" href="#"></a></li>
			<li><a class="drib" href="#"></a></li>
			<li><a class="goog" href="#"></a></li>
			<li><a class="pin" href="#"></a></li>
		</ul>
	</div>
</div>
<!--//about-->
<div class="about-back"></div>
<!--my skill-->
<div class="my-skills text-center">
	<div class="container">
		<h3>我的技能</h3>
		<div class="strip text-center"><img src="images/skill.png" alt=" "/></div>
		<div class="skill-grids">
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-1"></div>
						<p>Photoshop</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-2"></div>
						<p>CAD</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-3"></div>
						<p>UX</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-4"></div>
						<p>Html 5 </p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-5"></div>
						<p>CSS</p>
					</div>
					<div class="col-md-2 skills-grid text-center">
						<div class="circle" id="circles-6"></div>
						<p>各种框架</p>
					</div>
					<div class="clearfix"> </div>
				 <script type="text/javascript" src="js/circles.js"></script>
					         
						
				</script>
		</div>
	</div>	
</div>
<!--//my skill-->
<div class="my-skill-back"></div>
<!--education-->
<div class="education text-center">
	<div class="container">
		<div class="edu-info">
			<h3>教育</h3>
		</div>
		<div class="strip text-center"><img src="images/edu.png" alt=" "/></div>
		<div class="edu-grids">
			<div class="col-md-4 edu-grid">
				<p>2018 - 2022</p><span>毕业于</span>
				<img src="images/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>计算机科学硕士学位</h3>
						<h4>常青藤大学</h4>
					</div>
					<div class="edu-grid-info">
						<h5>不用我多做介绍了吧</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 edu-grid">
				<p>2018 - 2022</p><span>毕业于</span>
				<img src="images/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>计算机科学硕士学位</h3>
						<h4>常青藤大学</h4>
					</div>
					<div class="edu-grid-info">
						<h5>不用我多做介绍了吧</h5>
					</div>
				</div>
			</div>
			<div class="col-md-4 edu-grid">
				<p>2018 - 2022</p><span>毕业于</span>
				<img src="images/arrow.png" alt=""/>
				<div class="edu-border">
					<div class="edu-grid-master">
						<h3>计算机科学硕士学位</h3>
						<h4>常青藤大学</h4>
					</div>
					<div class="edu-grid-info">
						<h5>不用我多做介绍了吧</h5>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	
</div>
<!--//education-->
<div class="strip-border"><p></p></div>
<!--work-->
<div class="work-experience text-center">
	
	<div class="container">
		<div class="work-info">
			<h3>工作经验</h3>
		</div>
		<div class="strip text-center"><img src="images/work.png" alt=" "/></div>
		<div class="work-grids">
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2022 - 未来</h3>
					<div class="work-grid-info">
						<h4>Google</h4>
						<h5>leader-前端工程师</h5>
						<p>什么都在涨价，就是人越来越贱。屌丝为么能看到心爱女神的那像汉子一样的个性，那是因为女神她根本就不吊你，不稀饭你。</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2022 - 未来</h3>
					<div class="work-grid-info">
						<h4>Microsoft</h4>
						<h5>leader-前端工程师</h5>
						<p>如果没有风，云不会动；如果没有水，鱼不能游；如果没有太阳，月亮就不会有光；如果没有你……笨人也就不存在了 </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 w-grid">
				<div class="work-grid">
					<h3>2022 - 未来</h3>
					<div class="work-grid-info">
						<h4>Apple</h4>
						<h5>leader-前端工程师</h5>
						<p>乐观者发明了游艇，悲观者发明了救生圈；乐观者建造了高楼，悲观者生产了救火栓；乐观者都去做了玩命的赛车手，悲观者却穿起了白大褂当了医生；最后乐观者发射了宇宙飞船，悲观者则开办了保险公司。</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//work-->
<div class="services-back"></div>

<!--services-->
<div class="services text-center" id="services">
	<div class="container">
		<div class="ser-info">
			<h3>服务</h3>
		</div>
		<div class="strip text-center"><img src="images/ser.png" alt=" "/></div>
		<div class="ser-grids">
			<div class="col-md-3 ser-grid">
				<div class="ser-imagea"></div>
				<a href="echarts项目/mianban.html" target="_blank"><h3>可视化展板</h3></a>
				<p>采用最新的Echarts技术结合HTML,CSS3技术设计开发，所有图形文字均是由点根据坐标一点点绘制而成，独具匠心！</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imageb"></div>
				<a href="beiwang.html " target="_blank"><h3>备忘录</h3></a>
				<p>一款便捷小巧而又功能强大的记事工具。你值得拥有！</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imagec"></div>
				<h3>Content Writer</h3>
				<p>I'm gonna shoot you in the head
				then and there. Then I'm gonna shoot 
				that bitch in the kneecaps.</p>
			</div>
			<div class="col-md-3 ser-grid">
				<div class="ser-imaged"></div>
				<a href="Christmas.html" target="_blank"><h3>圣诞专属</h3></a>
				<p>用canvas经过复杂设计，计算，最终绘制而出的圣诞树。高大上，用心，漂亮，别出心裁，试问谁不心动它？</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//services-->
<!--portfolio-->
<div class="gallery-section text-center" id="portfolio">
	<div class="container">
		<h3>分享</h3>
		<div class="strip text-center"><img src="images/port.png" alt=" "/></div>
		<p>You think water moves fast? You should see ice. It moves like it has a mind. 
		Like it knows it killed the world once and got a taste for murder. After the avalanche, 
		it took us a week to climb out. Now, I don't know exactly when we turned on each other, 
		but I know that seven of us survived the slide and only five made it out. Now we took an 
		oath, that I'm breaking now. We said we'd say it was the snow that killed the other two, 
		but it wasn't. Nature is lethal but it doesn't hold a candle to man.</p>
		<p>你觉得水动得快吗？你应该看看冰。它像有头脑一样移动。就像它知道它曾经杀掉了世界，还尝到了谋杀的滋味。雪崩过后，我们花了一个星期才爬出来。现在，我不知道我们是什么时候开始互相攻击的，但我知道我们中有七个人从滑梯中幸存下来，只有五个人成功了。现在我们发誓，我现在要打破。我们说过我们会说是雪杀死了另外两个人，但事实并非如此。大自然是致命的，但它对人类来说却毫无意义。</p>
		<div class="gallery-grids">
			<div class="top-gallery">
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/p1.jpg" class="swipebox"><img src="images/p1.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>小兔鲜项目</h4>
							<p>一个购物平台 --By 恒仔</p>
							<div class="button"><a href="images/p1.jpg" class="swipebox" target="_blank"><a href="http://dishitiangege.gitee.io/hz-goshopping" target="_blank" rel="noopener noreferrer">去看看</a> </a></div>
						</div>
				</div></a>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/p2.jpg" class="swipebox"><img src="images/p2.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>好客租房</h4>
							<p>By 恒仔</p>
							<div class="button"><a href="images/p2.jpg" class="swipebox">去看看</a></div>
						</div>
				</div></a>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/p3.jpg" class="swipebox"><img src="images/p3.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>ToDoList</h4>
							<p>一个备忘录 --By 恒仔</p>
							<div class="button"><a href="images/p3.jpg" class="swipebox"><a href="http://dishitiangege.gitee.io/todolist" target="_blank" rel="noopener noreferrer">去看看</a></a></div>
						</div>
				</div></a>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/p4.jpg" class="swipebox"><img src="images/p4.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>HR-sass后台管理系统</h4>
							<p>By 恒仔</p>
							<div class="button"><a href="images/p4.jpg" class="swipebox">去看看</a></div>
						</div>
				</div></a>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/p5.jpg" class="swipebox"><img src="images/p5.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>恒仔优品</h4>
							<p>By 恒仔</p>
							<div class="button"><a href="images/p5.jpg" class="swipebox">去看看</a></div>
						</div>
				</div></a>
				<div class="col-md-4 gallery-grid gallery1">
					<a href="images/p6.jpg" class="swipebox"><img src="images/p6.jpg" class="img-responsive" alt="/">
						<div class="textbox">
							<h4>恒创营</h4>
							<p>By 恒仔</p>
							<div class="button"><a href="images/p6.jpg" class="swipebox">去看看</a></div>
						</div>
				</div></a>
				<div class="clearfix"> </div>
			</div>
				<link rel="stylesheet" href="css/swipebox.css">
				<script src="js/jquery.swipebox.min.js"></script> 
					<script type="text/javascript">
						jQuery(function($) {
							$(".swipebox").swipebox();
						});
					</script>
		</div>
	</div>
</div>
<!--//portfolio-->
<!--process-->
<div class="process text-center">
	<div class="container">
		<h3>历程</h3>
		<div class="strip text-center"><img src="images/pro.png" alt=" "/></div>
		<div class="process-girds">
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagea"></div>
					<p>灵感</p>
					<img src="images/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imageb"></div>
					<p>概念</p>
					<img class="pro-imga" src="images/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagec"></div>
					<p>设计</p>
					<img class="pro-img" src="images/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imaged"></div>
					<p>开发</p>
					<img class="pro-imgb" src="images/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagee"></div>
					<p>测试</p>
					<img src="images/6.png" alt=""/>
				</div>
			</div>
			<div class="col-md-2 process-pad">
				<div class="process-gird">
					<div class="process-imagef"></div>
					<p>结束</p>
					
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//process-->
<div class="process-back"></div>
<!--testimonials-->
<div class="testimonials" id="testimonial">
	<div class="container">
		<h3>开发团队</h3>
		<div class="strip text-center"><img src="images/test.png" alt=" "/></div>
			<!-- responsiveslides -->
					<script src="js/responsiveslides.min.js"></script>
						
			<!-- responsiveslides -->
			<div  id="top" class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="test-banner">
								<img class="quoa" src="images/quo2.png" alt=""/>
								<div class="test-left">
									<img src="images/7.png" alt=""/>
								</div>
								<div class="test-right">
									<p>However unreal it may seem, we are connected, 
									you and I. We're on the same curve, just on opposite ends.</p>
									<h4>Sam L. J. - Pulp Fiction</h4>
								</div>
								<div class="clearfix"></div>
								<img class="quo" src="images/quo1.png" alt=""/>
							</div>
						</li>
						<li>
							<div class="test-banner">
								<img class="quoa" src="images/quo2.png" alt=""/>
								<div class="test-left">
									<img src="images/eee.png" alt=""/>
								</div>
								<div class="test-right">
									<p>However unreal it may seem, we are connected, 
									you and I. We're on the same curve, just on opposite ends.</p>
									<h4>Sam L. J. - Pulp Fiction</h4>
								</div>
								<div class="clearfix"></div>
								<img class="quo" src="images/quo1.png" alt=""/>
							</div>
						</li>
					</ul>
			</div>
			
	</div>
</div>
<!--testimonials-->
<!--clients-->
<div class="clients text-center">
	<div class="container">
		<h4>客户</h4>
		<div class="strip-line"></div>
		<div class="client-grids">
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="images/10.png" alt=""/>
				</div>
			</div>
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="images/11.png" alt=""/>
				</div>
			</div>
			<div class="col-md-4 cl-grid">
				<div class="client-grid">
					<img src="images/12.png" alt=""/>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--clients-->
<div class="client-back"></div>
<!--blog-->
<div class="blog" id="blog">
	<div class="container">
		<div class="blog-info text-center">
			<h3>博客</h3>
			<div class="strip text-center"><img src="images/blog.png" alt=" "/></div>
		</div>
		<div class="blog-grids">
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="single.html"><img src="images/a.jpg" alt=""/></a>
					<div class="blog-text">
						<a href="single.html">大自然是致命的，但它对人类却无能为力。</a>
						<div class="stripa"></div>
						<p>你的骨头不会断，我的骨头会断。这很清楚。你的细胞对细菌有反应
							病毒和我的不同。你不会生病，我会。</p>
					</div>
				
					<div class="blog-para">
							<ul>
								<li><a href="#">3 评论</a></li>
								<li><a href="#">8 分享</a></li>
							</ul>
					</div>	
					
				</div>
			</div>
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="single.html"><img src="images/b.jpg" alt=""/></a>
					<div class="blog-text">
						<a href="single.html">大自然是致命的，但它对人类却无能为力。</a>
						<div class="stripa"></div>
						<p>你的骨头不会断，我的骨头会断。这很清楚。你的细胞对细菌有反应
							病毒和我的不同。你不会生病，我会。</p>
					</div>
				
					<div class="blog-para">
						<ul>
							<li><a href="#">3 评论</a></li>
							<li><a href="#">8 分享</a></li>
						</ul>
				</div>	
				
				</div>
			</div>
			<div class="col-md-4 blog-text-info">
				<div class="blog-grid">
					<a href="single.html"><img src="images/c.jpg" alt=""/></a>
					<div class="blog-text">
						<a href="single.html">大自然是致命的，但它对人类却无能为力。</a>
						<div class="stripa"></div>
						<p>你的骨头不会断，我的骨头会断。这很清楚。你的细胞对细菌有反应
							病毒和我的不同。你不会生病，我会。</p>
				
							<div class="blog-para">
								<ul>
									<li><a href="#">3 评论</a></li>
									<li><a href="#">8 分享</a></li>
								</ul>
						</div>	
						
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//blog-->
<div class="contact-back"></div>
<!--contact-->
<div class="contact" id="contact">
	<div class="container">
		<div class="contact-info text-center">
			<h3>联系me</h3>
			<div class="strip text-center"><img src="images/con1.png" alt=" "/></div>
		</div>
		<div class="contact-grids">
			<div class="col-md-5 contact-left">
				<h3>跟我打个招呼</h3>
				<div class="stripb"></div>
				<ul>
					<li>银河系</li>
					<li>太阳系 </li>
					<li>地球</li>
					<li>中国</li>
					<li>中原</li>
					<li><a href="3028146841@qq.com">我的QQ号@qq.com</a></li>
					<li><a href="#">www.dishitian.3vhost.net</a></li>
				</ul>
			</div>
			<div class="col-md-7 contact-right">
				<h3>给我写信</h3>
				<div class="stripb"></div>
				<form>
					<input type="text" value="Name" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="text" value="E-mail" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'E-mail';}" required="">
					<textarea type="text" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Message';}" required="">Message</textarea>
					<a href="mailto:1282997784@qq.com" title="email" 
					style="display: block;width: 100px; height: 52px;border: 2px solid #222121;border-radius: 5px;text-align: center;padding-top: 10px;">
						<i class='social iconfont icon-email'></i>
						SEND
					</a>
				</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--//contact-->
<div class="footer-top"></div>
<!--resume-->
<div class="resume text-center">
	<div class="container">
		<div class="strip text-center"><a href="#"><img src="images/down.png" alt=" "/></a></div>
		<div class="down"><a href="https://gitee.com/dishitiangege/personal-blog.git" download="https://gitee.com/dishitiangege/personal-blog.git">Download My Resume</a></div>
			
<!-- 500*48 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:100%;height:90px"
     data-ad-client="ca-pub-1429309183504547"
     data-ad-slot="3657559714"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
</div>
<!--//resume-->

<!--footer-->
<div class="footer">
	<div class="container">
	<style type="text/css">#blogownner {color: #222121;font-size:16px;font-weight:bold;}</style>
<a id="blogownner" href="http://www.taidupa.com/blog" target="blank" title="查看用户博客">温馨提示：本网站采用bootstrap响应式页面，适配移动端设备，平板设备，PC端设备。不同型号的设备，呈现的画面各不相同哦！</a>
		        <p>2016 © <a href="https://gitee.com/dishitiangege/personal-blog" >恒哥网</a> ALL RIGHTS RESERVED <a href="http://www.miitbeian.gov.cn" title="网站备案查询" ref="nofollow" target="blank">京ICP备15048447号-1</a> | PROFESSIONAL <a href="3028146841@qq.com">SERVICE</a>. DESIGNED BY <a href="mailto:support@taidupa.com">恒哥</a> <a class="text-title" href="http://www.taidupa.com/node/385" target="_blank" title="免责条款">免责条款 </a></p>
	</div>
</div>
<!--//footer-->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>