<!DOCTYPE html>
<html>
<head>
	<title>博客详情</title>
	
	<!--//fonts-->
		<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- for-mobile-apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="Kong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //for-mobile-apps -->
	<!-- js -->
		<script type="text/javascript" src="js/jquery.min.js"></script>
	<!-- js -->
	<!-- start-smooth-scrolling -->
		<script type="text/javascript" src="js/move-top.js"></script>
		<script type="text/javascript" src="js/easing.js"></script>
		<script src="js/index.js"></script>
	<!-- start-smooth-scrolling -->

</head>
<body>
<!-- banner -->
<div class="banner page-head" id="home">
	<div class="container"> 
		<div class="top-header row">
			<script src="js/classie.js"></script>
			<!--top-nav---->
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt=""/></a>
			</div>
			<div class="top-nav">
				<div class="nav-icon">
					    <a href="#" class="right_bt" id="activator"><span> </span> </a>
				</div>
				<div class="box" id="box">
					<div class="box_content">        					                         
						<div class="box_content_center">
							<div class="form_content">
								<div class="menu_box_list">
									<ul>
										<li><a class="scroll" href="#home"><span>首页</span></a></li>
										<li><a class="scroll" href="#about"><span>关于</span></a></li>
										<li><a class="scroll" href="#services"><span>服务</span></a></li>
										<li><a class="scroll" href="beiwang.html"><span>分享</span></a></li>
										<li><a class="scroll" href="#testimonial"><span>团队</span></a></li>
										<li><a class="scroll" href="#blog"><span>博客</span></a></li>
										<li><a class="scroll" href="#contact"><span>联系我</span></a></li>
										<div class="clearfix"> </div>
									</ul>
								</div>
								<a class="boxclose" id="boxclose"> <span> </span></a>
							</div>                                  
						</div> 	
					</div> 
				</div>       	  
			</div>
			<!---start-click-drop-down-menu----->
			        <!----start-dropdown--->
			         
			<!---//End-click-drop-down-menu----->
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--/header-banner-->
<!--single-page-->
	<div class="sample-page">
		<div class="container">
			<div class="sam-head text-center">
				<h3>我的博客</h3>
				<div class="strip text-center"><img src="images/blog.png" alt=" "/></div>
			</div>
			<div class="col-md-8 sample-page-left" >
				<div class="sample-page-info">
					<img src="https://tse1-mm.cn.bing.net/th/id/R-C.7ae778ee23640ae74b96be429ff1bcd8?rik=KlopoOcIMWn6DA&riu=http%3a%2f%2fwww.pp3.cn%2fuploads%2fallimg%2f200711%2f14-200G1142K9.jpg&ehk=SOcWMhjpYPvTSo8MIq4ciYGAycRoWb7X0ClFU69cTWM%3d&risl=&pid=ImgRaw&r=0" alt=""/>
					<h5>甜甜圈</h5>
					<p>如果他处于痛苦之中，他将被认为是一个很好的帮手，但同时他也会遭受痛苦。
						因为当我到了最低限度，谁是我们的锻炼，没有什么，但遵循任何它。这就是他痛苦的原因。
						他愿意帮助他。有许多不同的经文可供选择，但大多数经文都发生了变化；
						在某种形式上，通过注入幽默或随机的词语，这些词语看起来甚至一点都不可信。</p>  
					<h5>思考文学</h5>
					<p>《恒哥传》中有很多不同的段落，但大多数都经历了某种形式的变化，比如注入幽默，或者随机的词语，这些词语看起来甚至一点都不可信。</p> 
					<div class="comment-icons">
						<ul>
							<li><span class="d"></span><a href="#">请帮我编一个标签，谢谢</a> </li>
							<li><span class="clndr"></span>January 1, 2022</li>
							<li><span class="admin"></span> <a href="#">楼主</a></li>
							<li><span class="cmnts"></span> <a href="#">5 评论</a></li>
							<li><span class="like"></span> 15 </li>
						</ul>
					</div>
					<div class="admin-text">
						<h5>楼主发言</h5>
						<div class="admin-text-left">
							<a href="#"><img src="images/icon3.png" alt=""/></a>
						</div>
						<div class="admin-text-right">
							<p>《恒哥传》中有许多不同的段落所描述的东西，同时发生在现实工作和生活上。</p>
							<span>查看所有帖子:<a href="#"> 楼主 </a></span>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="response">
						<h4>留言</h4>
						<div class="response-info">
							<div class="response-text-left">
								<a href="#"><img src="images/icon3.png" alt=""/></a>
								<h5><a href="#">楼主</a></h5>
							</div>
							<div class="response-text-right">
								<p>《恒哥传》中有许多不同的段落所描述的东西，同时发生在现实工作和生活上。</p>
								<ul>
									<li>January 1, 2022</li>
									<li><a href="#">回复</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>		
						<div class="response-info">
							<div class="response-text-left">
								<a href="#"><img src="images/icon3.png" alt=""/></a>
								<h5><a href="#">楼主</a></h5>
							</div>
							<div class="response-text-right">
								<p>《恒哥传》中有许多不同的段落所描述的东西，同时发生在现实工作和生活上。</p>
								<ul>
									<li>January 1, 2022</li>
									<li><a href="#">回复</a></li>
								</ul>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>	
					<div class="coment-form">
						<h4>留下你的评论</h4>
						<form>
							<input type="text" value="Name :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name :';}" required="">
							<input type="text" value="Website :" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Website :';}" required="">
							<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Comment...';}" required="">你的评论...</textarea>
							<input type="submit" value="SEND" >
						</form>
						
<!-- 500*48 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:100%;height:90px"
     data-ad-client="ca-pub-1429309183504547"
     data-ad-slot="3657559714"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
					</div>		
				</div>
			</div>	
			<div class="col-md-4 sample-page-right">
				<div class="category">
					<h4>分类</h4>
					<ul>
						<li><a href="#">玉不啄，不成器；人不学，不知道。——《礼记》</a></li>
						<li><a href="#">在别人藐视的事中获得成功，是一件了不起的事，因为它证明不但战胜了自己，也战胜了别人。——蒙特兰</a></li>
						<li><a href="#">生活的道路一旦选定，就要勇敢地走到底，决不回头。——左拉</a></li>
						<li><a href="#">学而不思则罔，思而不学则殆。——孔子</a></li>
						<li><a href="#">人生是花，而爱便是花的蜜。——雨果</a></li>
						<li><a href="#">少而好学，如日出之阳；壮而好学，如日中之光；志而好学，如炳烛之光。——刘向</a></li>
						<li><a href="#">如果人只是为了自己而劳动，他也许能成为有名的学者绝顶的聪明人出色的诗人，但他决不可能成为真正的完人和伟人。——马克思</a></li>
					</ul>
				</div>	
				<div class="recent-posts">
					<h4>最近文章</h4>
					<div class="recent-posts-info">
						<div class="posts-left">
							<a href="#"> <img src="https://bkimg.cdn.bcebos.com/pic/8718367adab44aed2e73a3b17d579001a18b87d64d18?x-bce-process=image/resize,m_lfit,w_220,limit_1/format,f_auto" alt=""/> </a>
						</div>
						<div class="posts-right">
							<label>January 1, 2022</label>
							<h5> <a href="#">论语 </a></h5>
							<p>《论语》是儒家经典之一，是一部以记言为主的语录体散文集，主要以语录和对话文体的形式记录了孔子及其弟子的言行，集中体现了孔子的政治、审美、道德伦理和功利等价值思想。</p>
							<div class="read-more">
								<a href="#">Read More</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div class="recent-posts-info">
						<div class="posts-left">
							<a href="#"> <img src="https://bkimg.cdn.bcebos.com/pic/8694a4c27d1ed21b87bb585baa6eddc451da3f19?x-bce-process=image/resize,m_lfit,w_440,limit_1/format,f_auto" alt=""/></a>
						</div>
						<div class="posts-right">
							<label>January 1, 2022</label>
							<h5><a href="#">道德经</a></h5>
							<p>《道德经》，又称《道德真经》、《老子》、《五千言》、《老子五千文》，是中国古代先秦诸子分家前的一部著作，为其时诸子所共仰，传说是春秋时期的老子（李耳）所撰写，是道家哲学思想的重要来源。</p>
							<div class="read-more">
								<a href="#">Read More</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>	
				</div>
				<div class="comments">
					<h4>最新评论</h4>
					<div class="comments-info">
						<div class="cmnt-icon-left">
							<a href="#"><img src="images/icon3.png" alt=""/></a>
						</div>
						<div class="cmnt-icon-right">
							<p>January 1, 2022</p>
							<p><a href="#">刘彝</a></p>
						</div>
						<div class="clearfix"> </div>
						<p class="cmmnt">读万卷书，行万里路。</p>
					</div>
					<div class="comments-info">
						<div class="cmnt-icon-left">
							<a href="#"><img src="images/icon3.png" alt=""/></a>
						</div>
						<div class="cmnt-icon-right">
							<p>January 1, 2022</p>
							<p><a href="#">苏轼</a></p>
						</div>
						<div class="clearfix"> </div>
						<p class="cmmnt">旧书不厌百回读，熟读精思子自知。</p>
					</div>
					<div class="comments-info">
						<div class="cmnt-icon-left">
							<a href="#"><img src="images/icon3.png" alt=""/></a>
						</div>
						<div class="cmnt-icon-right">
							<p>January 1, 2022</p>
							<p><a href="#">张载</a></p>
						</div>
						<div class="clearfix"> </div>
						<p class="cmmnt">为天地立心，为生民立命，为往圣继绝学，为万世开太平</p>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>	
	</div>
<!--//single-page-->
<!--footer-->
<div class="footer">
	<div class="container">
	<style type="text/css">#blogownner {color: #222121;font-size:16px;font-weight:bold;}</style>
<a id="blogownner" href="http://www.taidupa.com/blog" target="blank" title="查看用户博客">相关博主：</a>
		        <p>2016 © <a href="http://dishitian.3vhost.net" >恒哥网</a> ALL RIGHTS RESERVED <a href="http://www.miitbeian.gov.cn" title="网站备案查询" ref="nofollow" target="blank">京ICP备15048447号-1</a> | PROFESSIONAL <a href="3028146841@qq.com">SERVICE</a>. DESIGNED BY <a href="mailto:support@taidupa.com">恒哥</a> <a class="text-title" href="http://www.taidupa.com/node/385" target="_blank" title="免责条款">免责条款 </a></p>
	</div>
</div>
<!--//footer-->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->
</body>
</html>